<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>looping  jinja operational tags</h1>
        <h2>{{string}}</h2>
        {% for a in string %}
            <h3>{{a}}</h3>
        {% endfor %}
        <h2>{{list}}</h2>
        {% for b in list %}
            <h3>{{b}}</h3>
        {% endfor %}
        <h2>{{tuple}}</h2>
        {% for c in tuple %}
            <h3>{{c}}</h3>
        {% endfor %}
    </center>
    
</body>
</html>